* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.canvas {
  height: 500px;
  width: 500px;
  background-color: transparent;
  border: 1px solid #000;

  /* position: absolute;
  top: 100px;
  left: calc(50% - width / 2);
  z-index: 1; */
}

.canvas-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(500px, auto));
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#picker {
  /* box-shadow: 0 0 10px #000; */
  width: 5rem;
  height: 5rem;
}
/* 

.color-picker {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.6rem;
}
.color-picker--input {
  appearance: none;
  height: 2rem;
  width: 2rem;
  border: 3px solid var(--radio-color, currentColor);
  background-color: var(--radio-color);
  outline-offset: 3px;
}

.color-picker--input:checked {
  background-color: var(--radio-color);
}

.color-picker--input#red {
  --radio-color: #f00;
}
.color-picker--input#blue {
  --radio-color: blue;
}
.color-picker--input#green {
  --radio-color: green;
}
.color-picker--input#yellow {
  --radio-color: yellow;
}
.color-picker--input#black {
  --radio-color: black;
}
 */

.visually-hidden {
  display: none;
}

.pointer-events-none {
  pointer-events: none;
  z-index: 1;
}
