* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.canvas {
  height: 500px;
  width: 500px;
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 10px;

  /* position: absolute;
  top: 100px;
  left: calc(50% - width / 2);
  z-index: 1; */
}

.canvas-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(500px, auto));
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.color-picker-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

#picker {
  /* box-shadow: 0 0 10px #000; */
  width: 5rem;
  height: 5rem;
  cursor: pointer;
}

.size-slider {
  width: 200px;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 9999px;
  cursor: pointer;
}
.size-slider--fill {
  height: 100%;
  width: 50%;
  background-color: #000;
  border-radius: 9999px;
  position: relative;
}
.size-slider--handle {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);

  background-color: aqua;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}
/* 


.color-picker--input {
  appearance: none;
  height: 2rem;
  width: 2rem;
  border: 3px solid var(--radio-color, currentColor);
  background-color: var(--radio-color);
  outline-offset: 3px;
}

.color-picker--input:checked {
  background-color: var(--radio-color);
}

.color-picker--input#red {
  --radio-color: #f00;
}
.color-picker--input#blue {
  --radio-color: blue;
}
.color-picker--input#green {
  --radio-color: green;
}
.color-picker--input#yellow {
  --radio-color: yellow;
}
.color-picker--input#black {
  --radio-color: black;
}
 */

.visually-hidden {
  display: none;
}

.pointer-events-none {
  pointer-events: none;
  z-index: 1;
}
